/* DT200G - Grafisk teknik för webb
 * Moment 2
 * Linn Eriksson, VT24
 */

 /*
 Färger från moodboard:
 Svart: #2C363F
 Rosa: #E75A7C
 Grön: #BBC7A4
 Vit: #F2F5EA

 Rubriker:
 h1 Roboto 42px bold rosa
 h2 robot 36px bold rosa
 h3 robot 32px bold svart
 h4 robot 26px bold svart
 h5 robot 23px bold svart
 h6 robot 20px bold svart
 bröd: roboto 18px svart
 */